{
  // You can change these values by setting what comes after the name for each of them
  // Note: some changes could not be done by this, and so they are different folders in this archive. In order to use them, rename them to whatever they ask for.

  // To change the tooltip spacing to work with Weapon Reinforcer, rename WeaponReinforcerSpacing to interface

  // Shows the level of the weapon in the tool tip corner
  "showWeaponLevel" : true,
  
  // Sets how weapon names are colored. These are the options:
  // "rarity" to color the name based on the weapon rarity
  // "level" to color the prefix based on the weapon level
  // "levelFull" to color the name based on the weapon level
  // "anythingElseGoesHere" to do no coloring
  "colorWeaponNamesFor" : "rarity",
  
  //change the color of the manufacturer's name on the tooltip
  "colorManufacturerNames" : true,
  
  //change the color of the weapon to match the manufacturer's colors
  "useManufacturerPalettes" : true,
  
  //if true, no one will be electrocuted when they run out of energy while holding a Xia-Li weapon
  "disableOnEnergyExhaustionStatus" : false,
  
  "criticalStatDecimalCount" : 1
}