{
  "callox" :    "/items/active/weapons/manufacturers/callox/callox.manu",
  "custom" :    "/items/active/weapons/manufacturers/custom/custom.manu",
  "graxus" :    "/items/active/weapons/manufacturers/graxus/graxus.manu",
  "manaticon" : "/items/active/weapons/manufacturers/manaticon/manaticon.manu",
  "necrolix" :  "/items/active/weapons/manufacturers/necrolix/necrolix.manu",
  "rotik" :     "/items/active/weapons/manufacturers/rotik/rotik.manu",
  "shadeco" :   "/items/active/weapons/manufacturers/shadeco/shadeco.manu",
  "teklacki" :  "/items/active/weapons/manufacturers/teklacki/teklacki.manu",
  "xiali" :     "/items/active/weapons/manufacturers/xiali/xiali.manu"
}
