{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Knife", "Blade", "Sharp", "Needle", "Thorn", "Wild", "Dusk", "Dawn", "Skull", "Ruin", "Eccles", "Night", "Day", "Sun", "Stiletto", "Spring", "Autumn", "Summer", "Bee" ],
	  [ { "mode" : "alts" }, "piercer", "shot", "barrage", "slayer", "sinner", "wrecker", "killer", "stabber", "skewer", "terror", "theurge", "stinger", "darter", "riddler" ]
    ]
  ]
}
