{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Thorn", "Wild", "Dusk", "Dawn", "Skull", "Ruin", "Eccles", "Night", "Day", "Sun", "Spring", "Autumn", "Summer", "Bee", "Horizon" ],
	  [ { "mode" : "alts" }, "render", "shredder", "edge", "slayer", "sinner", "chopper", "hatchet", "cleaver", "razor", "blade", "theurge", "chopper", "cutter", "brand", "axe", "biter", "wrath", "hewer", "tomahawk" ]
    ]
  ]
}
