{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Thorn", "Wild", "Dusk", "Dawn", "Skull", "Ruin", "Eccles", "Night", "Day", "Sun", "Spring", "Autumn", "Summer", "Bee", "Zenith"],
	  [ { "mode" : "alts" }, "stiletto", "stabber", "knife", "slayer", "sinner", "dirk", "killer", "bodkin", "razor", "blade", "theurge", "slicer", "needle", "sting", "biter", "fang", "shard" ]
    ]
  ]
}
