{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Wild", "Dusk", "Dawn", "Skull", "Ruin", "Eccles", "Night", "Day", "Sun", "Spring", "Autumn", "Summer" ],
	  [ { "mode" : "alts" }, "hammer", "bludgeon", "mallet", "crusher", "breaker", "quake", "storm", "wreaker", "smasher", "breaker", "theurge"]
    ]
  ]
}
