{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Wild", "Dusk", "Dawn", "Skull", "Ruin", "Eccles", "Night", "Day", "Sun", "Spring", "Autumn", "Summer"],
	  [ { "mode" : "alts" }, "slasher", "cutter", "gladius", "slayer", "saber", "killer", "razor", "blade", "theurge", "slicer", "sting", "biter" ]
    ]
  ]
}
