{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Thorn", "Wild", "Dusk", "Dawn", "Skull", "Ruin", "Eccles", "Night", "Day", "Sun", "Spring", "Autumn", "Summer", "Bee" ],
	  [ { "mode" : "alts" }, "stabber", "pike", "spear", "slayer", "stick", "poker", "killer", "halberd", "lance", "impaler", "theurge", "fury" ]
    ]
  ]
}
