{
  "default" : "/items/active/weapons/elements/muzzleflash/physical.png",
  
  "physical" : "/items/active/weapons/elements/muzzleflash/physical.png",
  
  "electric" : "/items/active/weapons/elements/muzzleflash/electric.png",
  "fire" : "/items/active/weapons/elements/muzzleflash/fire.png",
  "ice" : "/items/active/weapons/elements/muzzleflash/ice.png",
  "poison" : "/items/active/weapons/elements/muzzleflash/poison.png",
  
  "explosive" : "/items/active/weapons/elements/muzzleflash/explosive.png",
  
  // FU support
  "cosmic" : "/items/active/weapons/elements/muzzleflash/cosmic.png",
  "radioactive" : "/items/active/weapons/elements/muzzleflash/radioactive.png",
  "shadow" : "/items/active/weapons/elements/muzzleflash/shadow.png"
}