{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Impact", "Moon", "Focus", "Poly", "Storm", "Panic", "Reality", "Matter", "Mass", "Fusion", "Atomic", "Boom", "Bomb", "Loud", "Turbo"],
      [ { "mode" : "alts" }, "shotty", "shotgun", "gun", "stopper", "howitzer", "tosser", "wrecker", "destroyer", "plugger", "enforcer", "pump", "barrage", "blaster", "stick"]
    ]
  ]
}