{
  //This is an example language file for translating the contents of this mod
  
  //English will be used by default unless "language" is set in the manufacturerstouch.config, which all translation mods should do
  //This line should be set with only the name of the language file, minus the ".config extension"
  //So this one would use "language" : "example"

  "language" : "quenya",
  "languageFriendly" : "Quenya",
  
  //if set to true, then prefixes will instead get added after the weapon name, rather than before
  "usePostfixes" : false,
  
  "strings" : {
    "callox" : {
      "friendlyName" : "Calocs",
      "prefixes" : {
        "1" : "New one here",
        "2" : [ "op 1", "op 2"], //will choose randomly which one to use if an array is given as a string (in all cases, including friendly name for the manufacturer)
        "3" : "@PATH:/lang/extra.config" //will open a json file and insert it in this place
      }
    },
    "manaticon" : "@PATH:/lang/manaticon.config", //still works here
    "necrolix" : [ "@PATH:/lang/necrolix.config", "wow", "@Path:/lang/necro2.config" ] //even works here, and can be used in combo
  }
}