{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Iron", "Long", "Wild", "Scatter", "Force", "Terror", "Dusk", "Winter", "Trust", "Law", "Saw", "Bear" ],
	  [ { "mode" : "alts" }, "shot", "gun", "enforcer", "barrage", "slayer", "trigger", "shotgun", "arm" ]
    ]
  ]
}
