{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Iron", "Long", "Wild", "Force", "Terror", "Dusk", "Winter", "Trust", "Law", "Point", "Bear", "Wolf" ],
	  [ { "mode" : "alts" }, "shot", "gun", "enforcer", "barrage", "slayer", "trigger", "sniper", "arm", "eye" ]
    ]
  ]
}
